openapi: 3.0.0
info:
  description: "API for accessing Gurufocus data packages, please go to [https://www.gurufocus.com/user/me?tab=account&subtab=api-token](https://www.gurufocus.com/user/me?tab=account&subtab=api-token)\
    \ to view or generate authorization keys."
  title: Gurufocus Data Package API
  version: 1.0.0
servers:
- description: Main API server
  url: https://api.gurufocus.com/data
paths:
  /download/list:
    get:
      description: Returns a list of all data packages available in the system.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/_download_list_get_200_response_inner'
                type: array
          description: List of data packages
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: List available data packages
      tags:
      - Data Packages
  /download/{id}:
    get:
      description: "Returns the download URL of the specified data package, please\
        \ consume the url within then expiration time. After that, the url will be\
        \ invalid. The default expiration time is 5 minutes."
      parameters:
      - description: Data package ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: ebe74eed-6a33-4988-b94f-c7afb6b3e919
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download__id__get_200_response'
          description: Download URL of the data package
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: Get download url of the data package
      tags:
      - Data Packages
  /etf/{symbol}:
    get:
      description: ""
      parameters:
      - description: ETF symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_etf__symbol__get_200_response'
          description: "ETF profile, key statistics and holdings."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "ETF profile, key statistics and holdings."
      tags:
      - ETF
  /gurus/list:
    get:
      description: Returns the list of available gurus' basic information. You can
        use this api to map Gurufocus guru id and the id in your own system. The list
        is sorted by the id. You can use the `page` and `per_page` parameters to paginate
        the results.
      parameters:
      - description: The number of items to return per page. Default is 100.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          example: 10
          type: integer
        style: form
      - description: The page number to return. Default is 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_gurus_list_get_200_response'
          description: List of gurus
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: Get the list of available gurus' basic information
      tags:
      - GURU
  /gurus/{id}:
    get:
      description: "Last four quarters and future: <ul> <li>Quarterly portfolio holdings\
        \ of the last 4 quarters</li> <li>13D/G Data of the last 12 months</li> </ul>"
      parameters:
      - description: Guru ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_gurus__id__get_200_response'
          description: "Access the holdings and trades of over 4,500 institutional\
            \ investors, enabling broad market trend analysis or fueling investment\
            \ research tools with extensive institutional activity data"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "Access the holdings and trades of over 4,500 institutional investors,\
        \ enabling broad market trend analysis or fueling investment research tools\
        \ with extensive institutional activity data"
      tags:
      - GURU
  /insiders/{date}:
    get:
      description: "For all publicly traded companies: <ul><li>Open market insider\
        \ trading transactions since 2004</li></ul>"
      parameters:
      - description: Date in YYYY-MM-DD format
        explode: false
        in: path
        name: date
        required: true
        schema:
          description: Date in YYYY-MM-DD format
          example: 2023-10-01
          format: date
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Array of insider transactions
                items:
                  $ref: '#/components/schemas/insider_transaction'
                type: array
          description: A comprehensive record of insider trading and institutional
            ownership for investment research or powering data-driven financial tools
            that track executive trading behavior over time
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: A comprehensive record of insider trading and institutional ownership
        for investment research or powering data-driven financial tools that track
        executive trading behavior over time
      tags:
      - INSIDER
  /stocks/{symbol}/fundamentals:
    get:
      description: <ul> <li>Income Statement</li> <li>Balance Sheet</li> <li>Cash
        Flow Statement</li> </ul>
      parameters:
      - description: Stock symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stocks__symbol__fundamentals_get_200_response'
          description: "Complete historical financial statements providing the data\
            \ needed for in-depth analysis, valuation modeling, and building investment\
            \ research platforms."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "Complete historical financial statements providing the data needed\
        \ for in-depth analysis, valuation modeling, and building investment research\
        \ platforms."
      tags:
      - STOCK
  /stocks/{symbol}/profile:
    get:
      description: "<ul> <li>Basic company info <p>Name, description, address, etc.</p></li>\
        \ <li>Current stock price</li> <li>Current key valuation ratios <p>P/E, P/B,\
        \ P/S, etc.</p></li> <li>And more!</li> </ul> "
      parameters:
      - description: Stock symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stocks__symbol__profile_get_200_response'
          description: "Access essential company details and current valuation metrics\
            \ to power investment platforms, populate company directories, or enhance\
            \ financial analysis tools with up-to-date market data."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "Access essential company details and current valuation metrics to\
        \ power investment platforms, populate company directories, or enhance financial\
        \ analysis tools with up-to-date market data."
      tags:
      - STOCK
  /stocks/{symbol}/rankings:
    get:
      description: <ul> <li>GF Score</li> <li>GF Value</li> <li>Predictability Rank</li>
        <li>Financial Strength</li> <li>Profitability Rank</li> <li>and more!</li>
        </ul>
      parameters:
      - description: Stock symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stocks__symbol__rankings_get_200_response'
          description: "Proprietary scoring and ranking systems that assess company\
            \ quality, valuation, and performance for powering data-driven investment\
            \ platforms."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "Proprietary scoring and ranking systems that assess company quality,\
        \ valuation, and performance for powering data-driven investment platforms."
      tags:
      - STOCK
  /stocks/{symbol}/segment:
    get:
      description: <ul> <li>Geographic segment data</li> <li>Product and service segment
        data</li> </ul>
      parameters:
      - description: Stock symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stocks__symbol__segment_get_200_response'
          description: "Gain insights into a company's revenue breakdown by product\
            \ and geography to build detailed financial visualizations, enhance stock\
            \ research platforms, or create data-driven market analysis tools"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: "Gain insights into a company's revenue breakdown by product and geography\
        \ to build detailed financial visualizations, enhance stock research platforms,\
        \ or create data-driven market analysis tools"
      tags:
      - STOCK
  /stocks/{symbol}/valuations:
    get:
      description: <ul> <li>P/E Ratios</li> <li>P/B Ratios</li> <li>Dividend Yields</li>
        <li>F-Scores</li> <li>Z-Scores</li> <li>And more!</li> </ul>
      parameters:
      - description: Stock symbol
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_stocks__symbol__valuations_get_200_response'
          description: A deep dataset of historical valuation metrics to support investors
            and entrepreneurs in the development of data-driven investment platforms.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_403_response'
          description: "403003: No permission to check resource"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_404_response'
          description: "404001: Resource not found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_download_list_get_500_response'
          description: "500001: There are internal error"
      summary: A deep dataset of historical valuation metrics to support investors
        and entrepreneurs in the development of data-driven investment platforms.
      tags:
      - STOCK
components:
  schemas:
    etf_etf_basic_information:
      properties:
        company:
          description: The name of the company as identified on its SEC filings.
          type: string
        company_id:
          type: string
        exchange:
          description: "The company's stock exchange. Example: NAS for Apple."
          type: string
        stockid:
          description: A unique identifier for the stock
          type: string
        symbol:
          description: The company's stock ticker symbol
          type: string
      type: object
    etf_etf_dividends:
      properties:
        dividend_freq:
          description: "The number of times a company pays a dividend per year. Example:\
            \ 4 means quarterly."
          type: number
        next_dividend_payment_date:
          type: string
        ttm_dividend:
          description: The aggregate amount of dividends over the trailing 12 months
          type: number
        yield:
          description: The dividend yield is the ratio of a company's annual dividend
            compared to its share price.
          type: number
        yield_high:
          description: The dividend yield is the ratio of a company's annual dividend
            compared to its share price.
          type: number
        yield_low:
          description: The dividend yield is the ratio of a company's annual dividend
            compared to its share price.
          type: number
        yield_med:
          description: The dividend yield is the ratio of a company's annual dividend
            compared to its share price.
          type: number
      type: object
    etf_etf_fundamental:
      properties:
        mktcap:
          description: Market cap is the short version of market capitalization. It
            is the total market value to buy the whole company. It is equal to the
            share price times the number of shares outstanding.
          type: number
        pb:
          description: Companies use the price-to-book ratio to compare a firm's market
            to book value by dividing price per share by book value per share. Some
            people know it as the price-equity ratio.
          type: number
        pbhigh:
          description: Companies use the price-to-book ratio to compare a firm's market
            to book value by dividing price per share by book value per share. Some
            people know it as the price-equity ratio.
          type: number
        pblow:
          description: Companies use the price-to-book ratio to compare a firm's market
            to book value by dividing price per share by book value per share. Some
            people know it as the price-equity ratio.
          type: number
        pbmed:
          description: Companies use the price-to-book ratio to compare a firm's market
            to book value by dividing price per share by book value per share. Some
            people know it as the price-equity ratio.
          type: number
        pe:
          description: "<p>The PE ratio, or Price-to-Earnings ratio, is the most widely\
            \ used metric in the valuation of stocks. It is calculated as:\n\n<b>PE\
            \ Ratio = Share Price / {{eps_diluated}}</b>. \n\nIt can also be calculated\
            \ from the numbers for the whole company:\n\n<b>PE Ratio = {{mktcap}}\
            \ / {{net_income}}</b>.</p>\n\n<p>There are at least three kinds of PE\
            \ ratios used among different investors. They are Trailing Twelve Month\
            \ PE Ratio({{pettm}}), {{forwardPE}}, and {{penri}}. A new PE ratio based\
            \ on inflation-adjusted normalized PE ratio is called {{ShillerPE}}, after\
            \ Yale professor Robert Shiller.</p>\n\n<p>In the calculation of {{pettm}},\
            \ the earnings per share used are the earnings per share over the past\
            \ 12 months({{ttm_eps}}). For {{forwardPE}}, the earnings are the expected\
            \ earnings for the next twelve months({{forward_eps}}). In the case of\
            \ {{penri}}, the reported earnings less the non-recurring items are used({{eps_nri}}).For\
            \ the {{ShillerPE}}, the earnings of the past 10 years are inflation-adjusted\
            \ and averaged. Since {{ShillerPE}} looks at the average over the last\
            \ 10 years, it is also called PE10.</p>"
          type: number
        pettmhigh:
          description: The highest price-earnings ratio over the past 10 years
          type: number
        pettmlow:
          description: The lowest price-earnings ratio over the past 10 years
          type: number
        pettmmed:
          description: The median price-earnings ratio over the past 10 years
          type: number
        shares:
          description: "Outstanding shares refer to a company's stock currently held\
            \ by all its shareholders, including share blocks held by institutional\
            \ investors and restricted shares owned by the company's officers and\
            \ insiders."
          type: number
      type: object
    etf_etf_key_statistics:
      properties:
        beta:
          description: Beta measures the volatility or systematic risk of a security
            in comparison to the market. It is calculated using the latest three years
            of monthly returns of the stock and the benchmark.<br>- A beta of 1 indicates
            that the stock's price will move with the market. <br>- A beta of less
            than 1 indicates that the stock will be less volatile than the market.
            <br>- A beta greater than 1 indicates that the stock's price will be more
            volatile than the market.
          type: number
        display_timestamp:
          type: string
        high:
          description: The company's intraday high share price
          type: number
        low:
          description: The company's intraday low share price
          type: number
        open:
          description: The company's share price at market open
          type: number
        p_pct_change:
          description: The percent change of a company's share price based on the
            previous close.
          type: number
        price:
          description: The current share price of the stock
          type: number
        price52whigh:
          description: The highest share price over the past 52 weeks
          type: number
        price52wlow:
          description: The lowest share price over the past 52 weeks
          type: number
        rsi_14:
          description: "The relative strength index, i.e., a value that closely captures\
            \ the average gain on up days divided by the average loss non down days,\
            \ over the past 14 days"
          type: number
        sharpe_ratio_3y:
          description: "The 3-Year Sharpe Ratio measures the risk-adjusted return\
            \ of an investment over the past three years. It is calculated as the\
            \ annualized result of the average monthly excess return divided by its\
            \ standard deviation over the past three years. The monthly excess return\
            \ is the monthly investment return minus the monthly risk-free rate (typically\
            \ the 10-year Treasury Constant Maturity Rate). If the risk-free rate\
            \ for a specific region is not available, U.S. data is used by default."
          type: number
        sma_20:
          description: "The simple moving average, i.e., the arithmetic average share\
            \ price, over the past 20 days."
          type: number
        sortino_ratio_3y:
          description: "The 3-Year Sortino Ratio measures the risk-adjusted return\
            \ of an investment over the past three years, focusing specifically on\
            \ downside risk rather than total risk. It is calculated as the annualized\
            \ result of the average monthly excess return divided by its downside\
            \ deviation (accounts for negative excess return) over the past three\
            \ years. The monthly excess return is the monthly investment return minus\
            \ the monthly risk-free rate (typically the 10-year Treasury Constant\
            \ Maturity Rate). If the risk-free rate for a specific region is not available,\
            \ U.S. data is used by default."
          type: number
        volatility:
          description: The annualized volatility of the stock over the past year
          type: number
        volumn_day:
          description: The daily trading volume of a security.
          type: number
      type: object
    etf_etf_portfolio_holdings:
      properties:
        holdings:
          items:
            $ref: '#/components/schemas/guru_transaction'
          type: array
        portdate:
          description: Portfolio date
          format: date
          type: string
      type: object
    etf_etf_portfolio_holdings_details:
      items:
        $ref: '#/components/schemas/guru_transaction'
      type: array
    etf_etf_sector_breakdowns:
      properties:
        details:
          additionalProperties: true
          type: object
        portdate:
          description: Portfolio date
          format: date
          type: string
      type: object
    etf_etf_sector_breakdowns_details:
      additionalProperties: true
      type: object
    fundamentals_I_NO_REIT_NO_DIRECT:
      properties:
        balance_sheet:
          $ref: '#/components/schemas/fundamentals_I_NO_REIT_NO_DIRECT_balance_sheet'
        basic_information:
          $ref: '#/components/schemas/fundamentals_I_NO_REIT_NO_DIRECT_basic_information'
        cashflow_statement:
          $ref: '#/components/schemas/fundamentals_I_NO_REIT_NO_DIRECT_cashflow_statement'
        income_statement:
          $ref: '#/components/schemas/fundamentals_I_NO_REIT_NO_DIRECT_income_statement'
      type: object
    fundamentals_I_NO_REIT_NO_DIRECT_balance_sheet:
      properties:
        accounts_receivable:
          description: "<p>{{Accts_Rec}} is money owed to a business by customers\
            \ and shown on its Balance Sheet as an asset. {{Accts_Rec}} are created\
            \ when a customer has received a product but has not yet paid for that\
            \ product. It is related to {{DaysSalesOutstanding}}, which measures of\
            \ the average number of days that a company takes to collect revenue after\
            \ a sale has been made. It is a financial ratio that illustrates how well\
            \ a company's accounts receivables are being managed. <br>{{DaysSalesOutstanding}}\
            \ = {{Accts_Rec}} / {{Revenue}} * Days in Period</p>"
          type: number
        accumulated_other_comprehensive_income:
          description: "<p>{{accumulated_other_comprehensive_income}} is the aggregate\
            \ amount of gains or losses that are not part of retained earnings.</p>"
          type: number
        additional_paid_in_capital:
          description: "<p>{{AdditionalPaidInCapital}} is the capital that a company\
            \ raises in a financing round in excess of the capital's par value. The\
            \ account represents the excess paid by an investor over the par-value\
            \ price of a stock issue. {{AdditionalPaidInCapital}} can arise from issuing\
            \ either preferred or common stock. <br>{{AdditionalPaidInCapital}} is\
            \ calculated as: {{AdditionalPaidInCapital}} = (Issue Price - Par Value)\
            \ * {{Shares_Outstanding}}</p>"
          type: number
        bs_cash_and_cash_equivalents:
          description: "<p>{{CashAndCashEquivalents}} are the most liquid assets on\
            \ the balance sheet. Cash equivalents are assets that are readily convertible\
            \ into cash, such as money market holdings, short-term government bonds\
            \ or Treasury bills, marketable securities and commercial paper.</p>"
          type: number
        bs_current_deferred_liabilities:
          description: "<p>{{BS_CurrentDeferredLiabilities}} represents the current\
            \ portion of obligations, which is a liability that usually would have\
            \ been paid but is now pas due.</p>"
          type: number
        bs_deferred_policy_acquisition_costs:
          description: "<p>{{BS_DeferredPolicyAcquisitionCosts}} represent the costs\
            \ incurred by insurance companies for policy acquisitions that has not\
            \ been paid.</p>"
          type: number
        bs_equity_investments:
          description: "<p>{{BS_EquityInvestments}} mean that through these investments,\
            \ the holders of these investments take ownership in the entities that\
            \ issued these investment vehicles. Stock is kind of equity investment.</p>"
          type: number
        bs_fixed_maturity_investment:
          description: "<p>{{BS_FixedMaturityInvestment}} is financial assets that\
            \ have fixed maturity dates, such as treasury bonds and corporate bonds.\
            \ Before the maturity, these assets usually pay fixed interest rate. At\
            \ maturity, the principle will be returned from the borrowed.</p>"
          type: number
        bs_future_policy_benefits:
          description: "<p>{{BS_FuturePolicyBenefits}} represents an insurance entity's\
            \ net liability for future benefits (for example, death, cash surrender\
            \ value) to be paid to or on behalf of policyholders, where the accounting\
            \ policy describes the bases, methodologies and components of the reserve,\
            \ and assumptions regarding estimates of expected investment yields, mortality,\
            \ morbidity, terminations and expenses.</p>"
          type: number
        bs_net_loan:
          description: "<p>{{BS_NetLoan}} is total loans on banks' book. These are\
            \ the fund that banks have lent out. The loans contribute to banks' income.\
            \ Some borrower of the loans may stop paying their payment. In this case,\
            \ the loan is called non-performing loans. Loans can be divided into residential\
            \ loans, commercial loans or consumer loans.</p>"
          type: number
        bs_other_assets_insurance:
          type: number
        bs_other_liabilities_insurance:
          type: number
        bs_payables_and_accrued_expenses:
          type: number
        bs_policyholder_funds:
          description: "<p>{{BS_PolicyholderFunds}}</p>"
          type: number
        bs_trading_assets:
          description: <p>Other assets that are traded in markets.</p>
          type: number
        bs_unearned_premiums:
          description: "<p>{{BS_UnearnedPremiums}} is the portion of premium that\
            \ has not been earned by insurance companies. Insurance companies have\
            \ to pay them back to the insured if the policies are cancelled.</p>"
          type: number
        bs_unpaid_loss_and_loss_reserve:
          description: "<p>{{BS_UnpaidLossAndLossReserve}} is the fund insurance companies\
            \ set aside for the loss that has not be paid or possible losses in the\
            \ future.</p>"
          type: number
        common_stock:
          description: "<p>{{CommonStock}} is listed on  the Balance Sheet at the\
            \ par value of the total shares outstanding of a company. The par value\
            \ of {{CommonStock}} is meaningless. It is usually set at an absurdly\
            \ low number.</p>"
          type: number
        current_deferred_revenue:
          description: "<p>{{CurrentDeferredRevenue}} represents collections of cash\
            \ or other assets related to revenue producing activity for which revenue\
            \ has not yet been recognized. Generally, an entity records deferred revenue\
            \ when it receives consideration from a customer before achieving certain\
            \ criteria that must be met for revenue to be recognized in conformity\
            \ with GAAP. It can be either current or non-current item. Also called\
            \ unearned revenue.</p>"
          type: number
        current_deferred_taxes_liabilities:
          description: "<p>{{CurrentDeferredTaxesLiabilities}} means a future tax\
            \ liability, resulting from temporary differences between book (accounting)\
            \ value of assets and liabilities and their tax value, or timing differences\
            \ between the recognition of gains and losses in financial statements\
            \ and their recognition in a tax computation. Deferred tax liabilities\
            \ generally arise where tax relief is provided in advance of an accounting\
            \ expense, or income is accrued but not taxed until received.</p>"
          type: number
        debt_to_equity:
          description: The Debt/Equity (D/E) Ratio is calculated by dividing a company’s
            total liabilities by its shareholder equity. The ratio is used to evaluate
            a company's financial leverage.
          type: number
        equity_to_asset:
          description: Equity to Asset ratio is calculated as shareholder's tangible
            equity divided by its total asset.
          type: number
        good_will:
          description: "<p>A {{Goodwill}} is an {{Intangibles}} that arises as a result\
            \ of the acquisition of one company by another for a premium value. The\
            \ value of a company's brand name, solid customer base, good customer\
            \ relations, good employee relations and any patents or proprietary technology\
            \ represent {{Goodwill}}. {{Goodwill}} is considered an {{Intangibles}}\
            \ because it is not a physical asset like buildings or equipment. The\
            \ {{Goodwill}} account can be found in the assets portion of a company's\
            \ balance sheet.</p>"
          type: number
        intangibles:
          description: "<p>{{Intangibles}} are defined as identifiable non-monetary\
            \ assets that cannot be seen, touched or physically measured.  Examples\
            \ of {{Intangibles}} include trade secrets, copyrights, patents, trademarks.\
            \ If a company acquires assets at the prices above the book value, it\
            \ may carry {{Goodwill}} on its balance sheet. {{Goodwill}} reflects the\
            \ difference between the price the company paid and the book value of\
            \ the assets. If a company (company A) received a patent through their\
            \ own work, though it has value, it does not show up on its balance sheet\
            \ as an intangible asset. However, if company A sells this patent to company\
            \ B, it will show up on company B's balance sheet as an {{Intangibles}}.\
            \ The same applies to brand names, trade secrets etc. For instance, Coca-Cola's\
            \ brand is extremely valuable, but the brand does not appear on its balance\
            \ sheet, because the brand was never acquired.</p>"
          type: number
        long_term_debt_and_capital_lease_obligation:
          description: "<p>{{LongTermDebt}} is the debt due more than 12 months in\
            \ the future. The debt can be owed to banks or bondholders. Some companies\
            \ issue bonds to investors and pay interest on the bonds. <br>{{LongTermCapitalLeaseObligation}}\
            \ represents the total liability for long-term leases lasting over one\
            \ year. It's amount equal to the present value (the principal) at the\
            \ beginning of the lease term less lease payments during the lease term.\
            \ <br>{{Long-Term_Debt}} can be used to calculate {{ltd2asset}}: {{ltd2asset}}\
            \ = {{Long-Term_Debt}} / {{Total_Assets}}</p>"
          type: number
        minority_interest:
          description: "<p>{{Minority_interest}} is the carrying amount of the equity\
            \ interests owned by non-controlling shareholders, partners, or other\
            \ equity holders in one or more of the entities included in the reporting\
            \ entity's consolidated financial statements.</p>"
          type: number
        net_ppe:
          description: "<p>{{Net_PPE}} (PPE) are the fixed assets of the companyFixed\
            \ assets are also known as non-current assets. {{Net_PPE}} includes assets\
            \ that will - in the normal course of business - neither be used up in\
            \ the next year nor will become a part of any product sold to customers.\
            \ Some of the most common parts of property, plant, and equipment are:\
            \ Land, Buildings (and leasehold improvements), Transportation equipment,\
            \ Manufacturing equipment, Office equipment, Office furniture. Companies\
            \ with lots of property, plant, and equipment often have special categories.\
            \ For example, railroad property includes: Track, Ties, Ballast, Bridges,\
            \ Tunnels, Signals, Locomotives, Freight Cars. There is often a note in\
            \ the financial statements - found in a company's 10-K - that will explain\
            \ the different categories of property a company owns. <br>The market\
            \ value of {{Net_PPE}} can differ tremendously from the book value of\
            \ {{Net_PPE}}. For example, when Berkshire Hathaway liquidated its textile\
            \ mills, it had to pay the buyers of the company's manufacturing equipment\
            \ to haul the equipment  away. That {{Net_PPE}} was literally worth less\
            \ than zero. On the other hand, some companies own thousands of acres\
            \ of land. All {{Net_PPE}} other than land is depreciated. Land is never\
            \ depreciated. However, land is not marked up to market value either.\
            \ Under Generally Accepted Accounting Principles (GAAP), land is shown\
            \ on the balance sheet at cost. <br>The {{Net_PPE}} line shown on the\
            \ balance sheet is usually net {{Net_PPE}}. This means it is the cost\
            \ of the {{Net_PPE}} less accumulated depreciation.</p>"
          type: number
        non_current_deferred_income_tax:
          description: "The NonCurrent Deferred Income Tax represents the non-current\
            \ portion of deferred income taxes, which is the difference in income\
            \ recognition between tax laws and the accounting methods."
          type: number
        non_current_deferred_liabilities:
          description: "<p>{{NonCurrentDeferredLiabilities}} represents the non-current\
            \ portion of obligations, which is a liability that usually would have\
            \ been paid but is now pas due.</p>"
          type: number
        notes_receivable:
          description: "<p>{{NotesReceivable}} is an unconditional promise to receive\
            \ a definite sum of money at a future date(s) within one year of the balance\
            \ sheet date or the normal operating cycle, whichever is longer.</p>"
          type: number
        other_current_receivables:
          description: "<p>{{OtherCurrentReceivables}} is other current receivables\
            \ of that not otherwise classified. GuruFocus uses a standardized financial\
            \ statement format for all companies. GuruFocus lists {{Accts_Rec}}, {{NotesReceivable}},\
            \ {{LoansReceivable}} and {{OtherCurrentReceivables}} under the \"{{TotalReceivables}}\"\
            \ section.</p>"
          type: number
        other_equity:
          description: "<p>{{OtherEquity}} is instruments issued by the company that\
            \ cannot be identified by other specific items in the Equity section.\
            \ GuruFocus lists following items in \"{{Total_Equity}}\" section: {{CommonStock}},\
            \ {{Preferred_Stock}}, {{Retained_Earnings}}, {{accumulated_other_comprehensive_income}},\
            \ {{AdditionalPaidInCapital}}, {{Treasury_Stock}}, {{OtherEquity}}.</p>"
          type: number
        preferred_stock:
          description: "<p>{{Preferred_Stock}} is a special equity security that has\
            \ properties of both equity and debt. It is generally considered a hybrid\
            \ instrument. {{Preferred_Stock}} is senior to {{CommonStock}}, but is\
            \ subordinate to bonds in terms of claim or rights to their share of the\
            \ assets of the company. {{Preferred_Stock}} has priority over {{CommonStock}}\
            \ in the payment of dividends and any payments received when a company\
            \ liquidates. <br>{{Preferred_Stock}} comes in many forms. It can be:\
            \ Convertible or Non-Convertible, Cumulative or Non-Cumulative, Voting\
            \ or Non-Voting, Callable or Non-Callable, Maturity Date or No Maturity\
            \ Date. <br>A {{Preferred_Stock}} without a maturity date is called a\
            \ perpetual preferred stock. These are relatively rare. A good example\
            \ of perpetual {{Preferred_Stock}} is the many series of Public Storage\
            \ (PSA) preferred shares that trade on the New York Stock Exchange. <br>Before\
            \ investing in preferred stock, it is important to know which of the above\
            \ groups the stock belongs to. Is it convertible or non-convertible? Are\
            \ dividends cumulative or non-cumulative? It is also critical that an\
            \ investor knows what bonds the company has in front of the {{Preferred_Stock}}.\
            \ Bondholders get paid first. So the decision to buy a {{Preferred_Stock}}\
            \ can be similar to the decision to buy a bond. But, remember, the {{Preferred_Stock}}\
            \ of a company with bonds is junior to those bonds.  <br>Unless a {{Preferred_Stock}}\
            \ is convertible, the upside in a preferred stock investment is more limited\
            \ than in a {{CommonStock}} investment. If a company doubles its earnings,\
            \ it is usually under no more obligation to double the dividends paid\
            \ to preferred shareholders than it is to double the interest paid to\
            \ its bankers and bondholders.So {{Preferred_Stock}} is very different\
            \ from {{CommonStock}}.</p>"
          type: number
        retained_earnings:
          description: "<p>{{Retained_Earnings}} is the accumulated portion of {{Net_Income}}\
            \ that is not distributed to shareholders. Because the {{Net_Income}}\
            \ was not distributed to shareholders, shareholders' equity is increased\
            \ by the same amount. Of course, if a company loses, it is called retained\
            \ losses, or accumulated losses. Historically profitable companies sometimes\
            \ have negative {{Retained_Earnings}}. This is because they have cumulatively\
            \ paid out more to shareholders than they reported in profits. If a company\
            \ has negative {{Retained_Earnings}}, investors should check the 10-year\
            \ financial results. They should not assume that negative {{Retained_Earnings}}\
            \ prove a company has generally lost money in the past. Of course, many\
            \ companies with negative {{Retained_Earnings}} have indeed lost money\
            \ in the past.</p>"
          type: number
        short_term_debt_and_capital_lease_obligation:
          description: "<p>{{Short-Term_Debt}} is the portion of a company's debt\
            \ and capital lease obligation that need to be paid within the next 12\
            \ months. It equals {{ShortTermDebt_without_lease}} plus {{ShortTermCapitalLeaseObligation}}.\
            \ This gives investors an idea of how much money the company needs to\
            \ pay down for the principle of its debt.</p>"
          type: number
        total_assets:
          description: "<p>{{Total_Assets}} are all the assets a company owns. From\
            \ the capital sources of the assets, some of the assets are funded through\
            \ shareholder's paid in capital and {{Retained_Earnings}} of the business.\
            \ Others are funded through borrowed money. <br>Therefore, total assets\
            \ can be calculated as: {{Total_Assets}} = {{Total_Current_Assets}} +\
            \ {{TotalNonCurrentAssets}} = Total Shareholder's Equity + {{Total_Liabilities}}\
            \ <br>Total Assets is connected with Return on Assets by {{ROA}} = {{Net_Income}}\
            \ / {{Total_Assets}} <br> Total Assets is linked to {{Revenue}} through\
            \ {{turnover}}: {{turnover}}  = {{Revenue}} / {{Total_Assets}} <br>Therefore,\
            \ if a company grows its {{Total_Assets}} faster than its {{Revenue}},\
            \ the {{turnover}} will decline. This might be a warning sign for the\
            \ business.</p>"
          type: number
        total_equity:
          description: "<p>{{TotalEquityGrossMinorityInterest}} is residual interest,\
            \ including minority interest, that remains in the assets of the enterprise\
            \ after deducting its liabilities. Equity is increased by owners’ investments\
            \ and by comprehensive income, and it is reduced by distributions to the\
            \ owners.</p>"
          type: number
        total_liabilities:
          description: "<p>{{Total_Liabilities}} = {{Total_Current_Liabilities}} +\
            \ {{TotalNonCurrentLiabilitiesNetMinorityInterest}} = {{Total_Current_Liabilities}}\
            \ + {{Long-Term_Debt}} + {{ther_Long-Term_Liab}} <br>{{Total_Liabilities}}\
            \ = {{Total_Assets}} - {{TotalEquityGrossMinorityInterest}} <br>{{Total_Liabilities}}\
            \ are the liabilities that the company has to pay others. It is a part\
            \ of the balance sheet of a company that shareholders do not own, and\
            \ would be obligated to pay back if the company liquidated.</p>"
          type: number
        total_receivables:
          description: "<p>{{TotalReceivables}} is the sum of all receivables owed\
            \ by customers and affiliates within one year, including {{Accts_Rec}},\
            \ {{NotesReceivable}}, {{LoansReceivable}},{{OtherCurrentReceivables}}.</p>"
          type: number
        total_stockholders_equity:
          description: |-
            <p>{{Total_Equity}} refers to the net assets owned by shareholders. <br>{{Total_Equity}} = {{Preferred_Stock}} + {{CommonStock}} + Capital Surplus + {{Retained_Earnings}} <br>{{Total_Equity}} and {{Total_Liabilities}} are the two components for {{Total_Assets}}: <br>Total Assets = Total Shareholder's Equity + {{Total_Liabilities}}
             = {{Total_Current_Assets}} + {{TotalNonCurrentAssets}} <br>{{Total_Equity}} is used to calculate {{Book_Value_Per_Share}}: {{Book_Value_Per_Share}} = ({{Total_Equity}} - {{Preferred_Stock}})/ {{BS_share}}. <br>The ratio of a company's debt over equity can be used to measure how leveraged this company is: {{deb2equity}} = ({{Long-Term_Debt}} + {{Short-Term_Debt}})/{{Total_Equity}}.</p>
          type: number
        treasury_stock:
          description: "<p>{{Treasury_Stock}} is the portion of shares that a company\
            \ keeps in their own treasury. {{Treasury_Stock}} may have come from a\
            \ repurchase or buyback from shareholders; or it may have never been issued\
            \ to the public in the first place. These shares don't pay dividends,\
            \ have no voting rights, and should not be included in shares outstanding\
            \ calculations.</p>"
          type: number
      type: object
    fundamentals_I_NO_REIT_NO_DIRECT_basic_information:
      properties:
        company:
          description: The name of the company as identified on its SEC filings.
          type: string
        company_id:
          type: string
        exchange:
          description: "The company's stock exchange. Example: NAS for Apple."
          type: string
        stockid:
          description: A unique identifier for the stock
          type: string
        symbol:
          description: The company's stock ticker symbol
          type: string
      type: object
    fundamentals_I_NO_REIT_NO_DIRECT_cashflow_statement:
      properties:
        asset_impairment_charge:
          type: number
        beginning_cash_position:
          type: number
        cash_flow_capital_expenditure:
          description: "<p>{{Cash_Flow_CPEX}} refers to the funds spent for a company\
            \ to acquire or upgrade physical assets such as property, industrial buildings\
            \ or equipment.</p>"
          type: number
        cash_flow_deferred_tax:
          description: "<p>{{CF_DeferredTax}} represents future tax liability or asset,\
            \ resulting from temporary differences between book (accounting) value\
            \ of assets and liabilities, and their tax value. This arises due to differences\
            \ between financial accounting for shareholders and tax accounting.</p>"
          type: number
        cash_flow_depreciation_depletion_amortization:
          description: "<p>{{DDA}} is a present expense that accounts for the past\
            \ cost of an asset that is now providing benefits. Depletion and amortization\
            \ are synonyms for depreciation. Generally: The term depreciation is used\
            \ when discussing man made tangible assets. The term depletion is used\
            \ when discussing natural tangible assets. The term amortization is used\
            \ when discussing intangible assets</p>"
          type: number
        cash_flow_for_lease_financing:
          description: https://www.gurufocus.com/glossary/cash_flow_for_lease_financing
          type: number
        cash_flow_from_investing:
          description: "<p>{{Cash_Flow_from_Investing}} covers the cash a company\
            \ gains or spends from investment activities in financial market and operating\
            \ subsidiaries. It also includes the cash the company used for {{Net_PPE}}(PPE).\
            \ If a company spends cash on {{Net_PPE}} (PPE), this will reduce their\
            \ cash position. This is called {{Cash_Flow_CPEX}} (CPEX). Likewise, if\
            \ a company buys another company for cash, this will reduce their cash\
            \ position. <br>{{Cash_Flow_from_Investing}} is calculated as {{Cash_Flow_from_Investing}}\
            \ = {{PurchaseOfPPE}} + {{SaleOfPPE}} + {{PurchaseOfBusiness}} + {{SaleOfBusiness}}\
            \ + {{PurchaseOfInvestment}} + {{SaleOfInvestment}} + {{NetIntangiblesPurchaseAndSale}}\
            \ + {{CashFromDiscontinuedInvestingActivities}} + {{CashFromOtherInvestingActivities}}</p>"
          type: number
        cash_flow_from_operations:
          description: "<p>{{Cash_Flow_from_Operations}} refers to the cash brought\
            \ in through a company's sales. <br>Therefore, {{Cash_Flow_from_Operations}}\
            \ = {{NetIncomeFromContinuingOperations}} + {{CF_DDA}} + {ChangeInWorkingCapital}}\
            \ + Deferred Tax + {{Cash_Flow_from_Disc_Op}} + {{AssetImpairmentCharge}}\
            \ + {{StockBasedCompensation}} + {{Cash_Flow_from_Others}}</p>"
          type: number
        cash_flow_from_others:
          description: "<p>{{Cash_Flow_from_Others}} may include {{ChangeInWorkingCapital}}.\
            \ These are cash differences caused by the {{ChangeInInventory}}, {{AccountsPayable}},\
            \ {{Accts_Rec}} etc. For instance, if a company pays its suppliers slower,\
            \ its cash position will build up faster. If a company receives payments\
            \ from its customers slower, its {{Accts_Rec}} will rise, and its cash\
            \ position will grow more slowly (or even shrink).</p>"
          type: number
        cash_from_discontinued_investing_activities:
          description: "<p>{{CashFromDiscontinuedInvestingActivities}} means the cash\
            \ received by a company that comes from the discontinued investing activities.</p>"
          type: number
        cash_from_discontinued_operating_activities:
          description: The cash generated from discontinued operations
          type: number
        cash_from_financing:
          description: "<p>{{Cash_from_Financing}} is the cash generated/spent from\
            \ financial activities such as share issuance (buy back), debt issuance\
            \ (repayment), and dividends paid to preferred and common stockholders.\
            \ In the calculation of {{total_freecashflow}}, {{Cash_from_Financing}}\
            \ is not calculated because it is not related to operating activities.\
            \ <br>{{Cash_from_Financing}} = {{Issuance_of_Stock}} + {{Repurchase_of_Stock}}\
            \ + {{Net_Issuance_of_Debt}} + {{Net_Issuance_of_preferred}} + {{Dividends}}\
            \ + Other Financing</p>"
          type: number
        cash_from_other_investing_activities:
          description: "<p>{{CashFromOtherInvestingActivities}} means the cash received\
            \ by a company that comes from other investing activities.</p>"
          type: number
        change_in_inventory:
          description: "<p>{{ChangeInInventory}} is the difference between last period's\
            \ ending inventory and the current period's ending inventory.</p>"
          type: number
        change_in_other_working_capital:
          type: number
        change_in_payables_and_accrued_expense:
          description: "<p>{{ChangeInPayablesAndAccruedExpense}} is the increase or\
            \ decrease between periods of the {{Accts_Payable}}. Accrued expenses\
            \ represent expenses incurred at the end of the reporting period but not\
            \ yet paid; also called accrued liabilities. The accrued liability is\
            \ shown under Liabilities section in the balance sheet.</p>"
          type: number
        change_in_prepaid_assets:
          description: "<p>{{ChangeInPrepaidAssets}} is any increase or decrease between\
            \ periods of the prepaid assets.</p>"
          type: number
        change_in_receivables:
          description: "<p>Change In {{Accts_Rec}} relative to the previous period.\
            \ It is any increase or decrease in the cash a company is owed by its\
            \ customers.</p>"
          type: number
        change_in_working_capital:
          description: "<p>Working Capital is a measure of a company's short term\
            \ liquidity or its ability to cover short term liabilities. It is defined\
            \ as the difference between a company's {{Total_Current_Assets}} and {{Total_Current_Liabilities}}.\
            \ <br>Working Capital is calculated as: Working Capital = {{Total_Current_Assets}}\
            \ - {{Total_Current_Liabilities}} <br>{{ChangeInWorkingCapital}} is reported\
            \ in the cash flow statement since it is one of the major ways in which\
            \ {{Net_Income}} can differ from operating cash flow.</p>"
          type: number
        debt_issuance:
          type: number
        debt_payments:
          type: number
        dividends:
          description: "<p>{{Dividends}} refers to the payment of cash to shareholders\
            \ as dividends when the company generates income.</p>"
          type: number
        effect_of_exchange_rate_changes:
          type: number
        ending_cash_position:
          type: number
        issuance_of_stock:
          description: "<p>A company may raise cash from issuing new shares. It can\
            \ also use cash to buy back shares. If this number is positive, it means\
            \ that the company has received more cash from issuing shares than it\
            \ has paid to buy back shares. If this number is negative, it means that\
            \ company has paid more cash to buy back shares than it has received for\
            \ issuing shares.</p>"
          type: number
        net_change_in_cash:
          description: "<p>{{Net_Change_in_Cash}} is calculated as {{Net_Change_in_Cash}}\
            \ = {{Cash_Flow_from_Operations}} + {{Cash_Flow_from_Investing}} + {{Cash_from_Financing}}\
            \ + {{effect_of_exchange_rate_changes}}</p>"
          type: number
        net_income_from_continuing_operations:
          description: "<p>{{NetIncomeFromContinuingOperations}} indicates the {{Net_Income}}\
            \ that a firm brings in from ongoing business activities. These activities\
            \ are expected to continue into the next reporting period. It excludes\
            \ extraordinary items, income from the cumulative effects of accounting\
            \ changes, non-recurring items, income from tax loss carry forward, and\
            \ {{IS_preferred_dividends}}.</p>"
          type: number
        net_intangibles_purchase_and_sale:
          description: "<p>{{NetIntangiblesPurchaseAndSale}} means the net cash inflow\
            \ received by a company that comes from the purchase and sale of intangibles.\
            \ It equals the cash received from sale of intangibles minus the cash\
            \ spent on purchasing intangibles.</p>"
          type: number
        net_issuance_of_debt:
          description: "<p>{{Net_Issuance_of_Debt}} is the cash a company received\
            \ or spent through debt related activities such as debt issuance or debt\
            \ repayment. If a company pays down its debt during the period, this number\
            \ will be negative. If a company issued more debt, it receives cash and\
            \ this number is positive.</p>"
          type: number
        net_issuance_of_preferred:
          description: "<p>A company may raise cash from issuing new preferred shares.\
            \ It can also use cash to buy back preferred shares. If this number is\
            \ positive, it means that the company has received more cash from issuing\
            \ preferred shares than it has paid to buy back preferred shares. If this\
            \ number is negative, it means that company has paid more cash to buy\
            \ back preferred shares than it has received for issuing preferred shares.</p>"
          type: number
        other_financing:
          description: "<p>{{Other_Financing}} represents other {{Cash_from_Financing}}\
            \ activity that not otherwise classified, which includes: Proceeds From\
            \ Stock Option Exercised, Other Financing Charges.</p>"
          type: number
        purchase_of_business:
          description: "<p>{{PurchaseOfBusiness}} is the amount used to purchase business.</p>"
          type: number
        purchase_of_investment:
          description: "<p>{{PurchaseOfInvestment}} represents cash outflow on the\
            \ purchase of investments in securities.</p>"
          type: number
        purchase_of_ppe:
          description: "<p>{{PurchaseOfPPE}} is the amount used to purchase Property,\
            \ Plant and Equipment.</p>"
          type: number
        repurchase_of_stock:
          description: "<p>A company may raise cash from issuing new shares. It can\
            \ also use cash to buy back shares. {{Repurchase_of_Stock}} represents\
            \ the cash outflow to reacquire common stock during the period.</p>"
          type: number
        sale_of_business:
          description: "<p>{{SaleOfBusiness}} is the amount earned to sell business.</p>"
          type: number
        sale_of_investment:
          description: "<p>{{SaleOfInvestment}} represents cash inflow on the sale\
            \ of investments in securities.</p>"
          type: number
        sale_of_ppe:
          description: "<p>{{SaleOfPPE}} is the amount earned to sell {{Net_PPE}}.\
            \ </p>"
          type: number
        stock_based_compensation:
          description: "<p>{{StockBasedCompensation}} is a way corporations use stock\
            \ options to reward employees. It provides executives and employees the\
            \ opportunity to share in the growth of the company and, if structured\
            \ properly, can align their interests with the interests of the company's\
            \ shareholders and investors, without burning the company's cash on hand.</p>"
          type: number
        total_free_cash_flow:
          description: "<p>{{total_freecashflow}} is considered one of the most important\
            \ parameters to measure a company's earnings power by value investors\
            \ because it is not subject to estimates of {{DDA}} (DDA). However, when\
            \ we look at the {{total_freecashflow}}, we should look from a long term\
            \ perspective, because any year's {{total_freecashflow}} can be drastically\
            \ affected by the spending on {{Net_PPE}} (PPE) of the business in that\
            \ year. Over the long term, {{total_freecashflow}} should give pretty\
            \ good picture on the real earnings power of the company. <br>{{total_freecashflow}}\
            \ is calculated as {{total_freecashflow}} = {{cash_Flow_from_Operations}}\
            \ + {{Cash_Flow_CPEX}}</p>"
          type: number
      type: object
    fundamentals_I_NO_REIT_NO_DIRECT_income_statement:
      properties:
        depreciation_depletion_amortization:
          description: "<p>{{DDA}} is a present expense that accounts for the past\
            \ cost of an asset that is now providing benefits. Depletion and amortization\
            \ are synonyms for depreciation. Generally: The term depreciation is used\
            \ when discussing man made tangible assets. The term depletion is used\
            \ when discussing natural tangible assets. The term amortization is used\
            \ when discussing intangible assets</p>"
          type: number
        ebit:
          description: "In accounting and finance, earnings before interest and taxes\
            \ (EBIT), is a measure of a firm's profit that includes all expenses except\
            \ interest and income tax expenses. It is the difference between operating\
            \ revenues and operating expenses."
          type: number
        ebitda:
          description: "<p>Earnings Before Interest, Taxes, Depreciation, and Amortization\
            \ ({{EBITDA}}) is what the company earns before it expenses interest,\
            \ taxes, depreciation and amortization. <br>{{EBITDA}} is calculated as\
            \ {{EBITDA}} = {{Revenue}} - {{COGS}} - {{SGA}} - {{RD}} = {{Gross_Profit}}\
            \ - {{SGA}} - {{RD}} <br> The use of {{EBITDA}} is an attempt to make\
            \ the results of different companies more comparable and uniform.</p>"
          type: number
        ebitda_margin:
          type: number
        eps_basic:
          description: "<p>{{eps_basic}} is a rough measurement of the amount of a\
            \ company's profit that can be allocated to one share of its stock. {{eps_basic}}\
            \ do not factor in the dilutive effects on convertible securities. <br>{{eps_basic}}\
            \ is calculated as: {{eps_basic}} = ({{Net_Income}} - {{IS_preferred_dividends}})\
            \ / {{shares_basic}}</p>"
          type: number
        eps_diluated:
          description: "<p>{{eps_diluated}} is a rough measurement of the amount of\
            \ a company's profit that can be allocated to one share of its stock.\
            \ {{eps_diluated}} takes into account all of the outstanding dilutive\
            \ securities that could potentially be exercised (such as stock options\
            \ and convertible {{Preferred_Stock}}) and shows how such an action would\
            \ impact {{per_share_eps}}. <br>{{eps_diluated}} is calculated as: {{eps_diluated}}\
            \ = ({{Net_Income}} - {{IS_preferred_dividends}}) / {{Shares_Outstanding}}</p>"
          type: number
        interest_income:
          description: "<p>{{InterestIncome}} is the interest earned on cash temporarily\
            \ held in savings accounts, certificates of deposits, or other investments.</p>"
          type: number
        is_fee_revenue_and_other_income:
          description: "<p>{{IS_FeeRevenueAndOtherIncome}} is the income earned by\
            \ insurance companies other than providing insurances. It includes investing\
            \ income, fees and interest income.</p>"
          type: number
        is_interest_expense:
          type: number
        is_net_investment_income:
          description: "<p>{{IS_NetInvestmentIncome}} is the income earned by insurance\
            \ companies through investments. Insurance companies usually invest the\
            \ float they received in stocks or bonds to generate additional income\
            \ before the premium is paid to cover insurance losses.</p>"
          type: number
        is_net_policyholder_benefits_and_claims:
          description: "<p>{{IS_NetPolicyholderBenefitsAndClaims}} is the fund paid\
            \ out by insurances companies to cover the insurance losses, liabilities\
            \ and expenses</p>"
          type: number
        is_other_expense_insurance:
          type: number
        is_policy_acquisition_expense:
          description: "<p>{{IS_PolicyAcquisitionExpense}} is the expenses incurred\
            \ by insurance companies in activities such as marketing, advertising,\
            \ commissions etc.</p>"
          type: number
        is_preferred_dividends:
          description: "<p>{{IS_preferred_dividends}} is a dividend that is accrued\
            \ and paid on a company's preferred shares. In the event that a company\
            \ is unable to pay all dividends, claims to {{IS_preferred_dividends}}\
            \ take precedence over claims to dividends that are paid on common shares.</p>"
          type: number
        is_total_premiums_earned:
          description: "<p>{{IS_TotalPremiumsEarned}} is the portion of the premium\
            \ that insurance companies earned by providing insurances for the time\
            \ period that has already passed.</p>"
          type: number
        net_income:
          description: "<p>{{Net_Income}} is the net profit that a company earns after\
            \ deducting all costs and losses including {{COGS}}, {{SGA}}, {{DDA}},\
            \ {{InterestExpense}}, non-recurring items and {{tax}}.  <br>{{Net_Income}}\
            \  = {{Revenue}} - {{COGS}}, - {{SGA}} - {{RD}}  - {{DDA}} - {{InterestExpense}}\
            \ + Non-Recurring Items  - {{tax}} = Earnings Before Depreciation and\
            \ Amortization - {{DDA}} - {{InterestExpense}} - Non-Recurring Items (NRI)\
            \ - {{tax}} = {{Operating_Income}} - {{InterestExpense}} - Non-Recurring\
            \ Items (NRI) - {{tax}} = {{Pretax_Income}} - {{tax}}</p>"
          type: number
        net_income_continuing_operations:
          description: "<p>{{Net_Income_(Continuing_Operations)}} indicates the net\
            \ income that a firm brings in from ongoing business activities. These\
            \ activities are expected to continue into the next reporting period.</p>"
          type: number
        net_income_discontinued_operations:
          description: "<p>{{Net_Income_(Discontinued_Operations)}} indicates the\
            \ net income that a firm brought in from operations that will not be used\
            \ in future reporting periods.</p>"
          type: number
        net_income_including_noncontrolling_interests:
          type: number
        net_margin:
          description: Net margin is calculated as Net Income divided by its Revenue.
          type: number
        other_income_minority_interest:
          description: "<p>{{OtherIncomeExpense}} includes {{Minority_interest}}.\
            \ {{Minority_interest}} is a significant but non-controlling ownership\
            \ of less than 50% of a company's voting shares by either an investor\
            \ or another company.</p>"
          type: number
        other_net_income_loss:
          type: number
        pretax_income:
          description: "<p>{{Pretax_Income}} is the income that a company earns before\
            \ paying income taxes. <br>{{Pretax_Income}} is calculated as {{Operating_Income}}\
            \ + {{Non_Operating_Income}} + {{InterestExpense}} + {{InterestIncome}}\
            \ + other</p>"
          type: number
        revenue:
          type: number
        selling_general_admin_expense:
          description: "Selling, General, & Admin. Expense (SGA) includes the direct\
            \ and indirect costs and all general and administrative expenses of a\
            \ company. For instance, personnel cost, advertising, rent, communication\
            \ costs are all part of SGA."
          type: number
        shares_outstanding:
          description: "<p>{{Cash_Flow_from_Others}} may include {{ChangeInWorkingCapital}}.\
            \ These are cash differences caused by the {{ChangeInInventory}}, {{AccountsPayable}},\
            \ {{Accts_Rec}} etc. For instance, if a company pays its suppliers slower,\
            \ its cash position will build up faster. If a company receives payments\
            \ from its customers slower, its {{Accts_Rec}} will rise, and its cash\
            \ position will grow more slowly (or even shrink).</p>"
          type: number
        tax_provision:
          description: "<p>{{TaxProvision}} is the tax to be paid.</p>"
          type: number
        tax_rate:
          description: "<p>{{TaxRate}} is the ratio of {{tax}} divided by {{Pretax_Income}},\
            \ usually presented in percent. <br> {{{TaxRate}} = {{tax}} / {{Pretax_Income}}</p>"
          type: number
        total_expenses_insurance:
          type: number
      type: object
    fundamentals_I_REIT_NO_DIRECT:
      properties:
        balance_sheet:
          $ref: '#/components/schemas/fundamentals_I_REIT_NO_DIRECT_balance_sheet'
        basic_information:
          $ref: '#/components/schemas/fundamentals_I_REIT_NO_DIRECT_basic_information'
        cashflow_statement:
          $ref: '#/components/schemas/fundamentals_I_REIT_NO_DIRECT_cashflow_statement'
        income_statement:
          $ref: '#/components/schemas/fundamentals_I_REIT_NO_DIRECT_income_statement'
      type: object
    fundamentals_I_REIT_NO_DIRECT_balance_sheet:
      properties:
        accounts_receivable:
          description: "<p>{{Accts_Rec}} is money owed to a business by customers\
            \ and shown on its Balance Sheet as an asset. {{Accts_Rec}} are created\
            \ when a customer has received a product but has not yet paid for that\
            \ product. It is related to {{DaysSalesOutstanding}}, which measures of\
            \ the average number of days that a company takes to collect revenue after\
            \ a sale has been made. It is a financial ratio that illustrates how well\
            \ a company's accounts receivables are being managed. <br>{{DaysSalesOutstanding}}\
            \ = {{Accts_Rec}} / {{Revenue}} * Days in Period</p>"
          type: number
        accumulated_other_comprehensive_income:
          description: "<p>{{accumulated_other_comprehensive_income}} is the aggregate\
            \ amount of gains or losses that are not part of retained earnings.</p>"
          type: number
        additional_paid_in_capital:
          description: "<p>{{AdditionalPaidInCapital}} is the capital that a company\
            \ raises in a financing round in excess of the capital's par value. The\
            \ account represents the excess paid by an investor over the par-value\
            \ price of a stock issue. {{AdditionalPaidInCapital}} can arise from issuing\
            \ either preferred or common stock. <br>{{AdditionalPaidInCapital}} is\
            \ calculated as: {{AdditionalPaidInCapital}} = (Issue Price - Par Value)\
            \ * {{Shares_Outstanding}}</p>"
          type: number
        bs_cash_and_cash_equivalents:
          description: "<p>{{CashAndCashEquivalents}} are the most liquid assets on\
            \ the balance sheet. Cash equivalents are assets that are readily convertible\
            \ into cash, such as money market holdings, short-term government bonds\
            \ or Treasury bills, marketable securities and commercial paper.</p>"
          type: number
        bs_current_deferred_liabilities:
          description: "<p>{{BS_CurrentDeferredLiabilities}} represents the current\
            \ portion of obligations, which is a liability that usually would have\
            \ been paid but is now pas due.</p>"
          type: number
        bs_deferred_policy_acquisition_costs:
          description: "<p>{{BS_DeferredPolicyAcquisitionCosts}} represent the costs\
            \ incurred by insurance companies for policy acquisitions that has not\
            \ been paid.</p>"
          type: number
        bs_equity_investments:
          description: "<p>{{BS_EquityInvestments}} mean that through these investments,\
            \ the holders of these investments take ownership in the entities that\
            \ issued these investment vehicles. Stock is kind of equity investment.</p>"
          type: number
        bs_fixed_maturity_investment:
          description: "<p>{{BS_FixedMaturityInvestment}} is financial assets that\
            \ have fixed maturity dates, such as treasury bonds and corporate bonds.\
            \ Before the maturity, these assets usually pay fixed interest rate. At\
            \ maturity, the principle will be returned from the borrowed.</p>"
          type: number
        bs_future_policy_benefits:
          description: "<p>{{BS_FuturePolicyBenefits}} represents an insurance entity's\
            \ net liability for future benefits (for example, death, cash surrender\
            \ value) to be paid to or on behalf of policyholders, where the accounting\
            \ policy describes the bases, methodologies and components of the reserve,\
            \ and assumptions regarding estimates of expected investment yields, mortality,\
            \ morbidity, terminations and expenses.</p>"
          type: number
        bs_net_loan:
          description: "<p>{{BS_NetLoan}} is total loans on banks' book. These are\
            \ the fund that banks have lent out. The loans contribute to banks' income.\
            \ Some borrower of the loans may stop paying their payment. In this case,\
            \ the loan is called non-performing loans. Loans can be divided into residential\
            \ loans, commercial loans or consumer loans.</p>"
          type: number
        bs_other_assets_insurance:
          type: number
        bs_other_liabilities_insurance:
          type: number
        bs_payables_and_accrued_expenses:
          type: number
        bs_policyholder_funds:
          description: "<p>{{BS_PolicyholderFunds}}</p>"
          type: number
        bs_trading_assets:
          description: <p>Other assets that are traded in markets.</p>
          type: number
        bs_unearned_premiums:
          description: "<p>{{BS_UnearnedPremiums}} is the portion of premium that\
            \ has not been earned by insurance companies. Insurance companies have\
            \ to pay them back to the insured if the policies are cancelled.</p>"
          type: number
        bs_unpaid_loss_and_loss_reserve:
          description: "<p>{{BS_UnpaidLossAndLossReserve}} is the fund insurance companies\
            \ set aside for the loss that has not be paid or possible losses in the\
            \ future.</p>"
          type: number
        common_stock:
          description: "<p>{{CommonStock}} is listed on  the Balance Sheet at the\
            \ par value of the total shares outstanding of a company. The par value\
            \ of {{CommonStock}} is meaningless. It is usually set at an absurdly\
            \ low number.</p>"
          type: number
        current_deferred_revenue:
          description: "<p>{{CurrentDeferredRevenue}} represents collections of cash\
            \ or other assets related to revenue producing activity for which revenue\
            \ has not yet been recognized. Generally, an entity records deferred revenue\
            \ when it receives consideration from a customer before achieving certain\
            \ criteria that must be met for revenue to be recognized in conformity\
            \ with GAAP. It can be either current or non-current item. Also called\
            \ unearned revenue.</p>"
          type: number
        current_deferred_taxes_liabilities:
          description: "<p>{{CurrentDeferredTaxesLiabilities}} means a future tax\
            \ liability, resulting from temporary differences between book (accounting)\
            \ value of assets and liabilities and their tax value, or timing differences\
            \ between the recognition of gains and losses in financial statements\
            \ and their recognition in a tax computation. Deferred tax liabilities\
            \ generally arise where tax relief is provided in advance of an accounting\
            \ expense, or income is accrued but not taxed until received.</p>"
          type: number
        debt_to_equity:
          description: The Debt/Equity (D/E) Ratio is calculated by dividing a company’s
            total liabilities by its shareholder equity. The ratio is used to evaluate
            a company's financial leverage.
          type: number
        equity_to_asset:
          description: Equity to Asset ratio is calculated as shareholder's tangible
            equity divided by its total asset.
          type: number
        good_will:
          description: "<p>A {{Goodwill}} is an {{Intangibles}} that arises as a result\
            \ of the acquisition of one company by another for a premium value. The\
            \ value of a company's brand name, solid customer base, good customer\
            \ relations, good employee relations and any patents or proprietary technology\
            \ represent {{Goodwill}}. {{Goodwill}} is considered an {{Intangibles}}\
            \ because it is not a physical asset like buildings or equipment. The\
            \ {{Goodwill}} account can be found in the assets portion of a company's\
            \ balance sheet.</p>"
          type: number
        intangibles:
          description: "<p>{{Intangibles}} are defined as identifiable non-monetary\
            \ assets that cannot be seen, touched or physically measured.  Examples\
            \ of {{Intangibles}} include trade secrets, copyrights, patents, trademarks.\
            \ If a company acquires assets at the prices above the book value, it\
            \ may carry {{Goodwill}} on its balance sheet. {{Goodwill}} reflects the\
            \ difference between the price the company paid and the book value of\
            \ the assets. If a company (company A) received a patent through their\
            \ own work, though it has value, it does not show up on its balance sheet\
            \ as an intangible asset. However, if company A sells this patent to company\
            \ B, it will show up on company B's balance sheet as an {{Intangibles}}.\
            \ The same applies to brand names, trade secrets etc. For instance, Coca-Cola's\
            \ brand is extremely valuable, but the brand does not appear on its balance\
            \ sheet, because the brand was never acquired.</p>"
          type: number
        long_term_debt_and_capital_lease_obligation:
          description: "<p>{{LongTermDebt}} is the debt due more than 12 months in\
            \ the future. The debt can be owed to banks or bondholders. Some companies\
            \ issue bonds to investors and pay interest on the bonds. <br>{{LongTermCapitalLeaseObligation}}\
            \ represents the total liability for long-term leases lasting over one\
            \ year. It's amount equal to the present value (the principal) at the\
            \ beginning of the lease term less lease payments during the lease term.\
            \ <br>{{Long-Term_Debt}} can be used to calculate {{ltd2asset}}: {{ltd2asset}}\
            \ = {{Long-Term_Debt}} / {{Total_Assets}}</p>"
          type: number
        minority_interest:
          description: "<p>{{Minority_interest}} is the carrying amount of the equity\
            \ interests owned by non-controlling shareholders, partners, or other\
            \ equity holders in one or more of the entities included in the reporting\
            \ entity's consolidated financial statements.</p>"
          type: number
        net_ppe:
          description: "<p>{{Net_PPE}} (PPE) are the fixed assets of the companyFixed\
            \ assets are also known as non-current assets. {{Net_PPE}} includes assets\
            \ that will - in the normal course of business - neither be used up in\
            \ the next year nor will become a part of any product sold to customers.\
            \ Some of the most common parts of property, plant, and equipment are:\
            \ Land, Buildings (and leasehold improvements), Transportation equipment,\
            \ Manufacturing equipment, Office equipment, Office furniture. Companies\
            \ with lots of property, plant, and equipment often have special categories.\
            \ For example, railroad property includes: Track, Ties, Ballast, Bridges,\
            \ Tunnels, Signals, Locomotives, Freight Cars. There is often a note in\
            \ the financial statements - found in a company's 10-K - that will explain\
            \ the different categories of property a company owns. <br>The market\
            \ value of {{Net_PPE}} can differ tremendously from the book value of\
            \ {{Net_PPE}}. For example, when Berkshire Hathaway liquidated its textile\
            \ mills, it had to pay the buyers of the company's manufacturing equipment\
            \ to haul the equipment  away. That {{Net_PPE}} was literally worth less\
            \ than zero. On the other hand, some companies own thousands of acres\
            \ of land. All {{Net_PPE}} other than land is depreciated. Land is never\
            \ depreciated. However, land is not marked up to market value either.\
            \ Under Generally Accepted Accounting Principles (GAAP), land is shown\
            \ on the balance sheet at cost. <br>The {{Net_PPE}} line shown on the\
            \ balance sheet is usually net {{Net_PPE}}. This means it is the cost\
            \ of the {{Net_PPE}} less accumulated depreciation.</p>"
          type: number
        non_current_deferred_income_tax:
          description: "The NonCurrent Deferred Income Tax represents the non-current\
            \ portion of deferred income taxes, which is the difference in income\
            \ recognition between tax laws and the accounting methods."
          type: number
        non_current_deferred_liabilities:
          description: "<p>{{NonCurrentDeferredLiabilities}} represents the non-current\
            \ portion of obligations, which is a liability that usually would have\
            \ been paid but is now pas due.</p>"
          type: number
        notes_receivable:
          description: "<p>{{NotesReceivable}} is an unconditional promise to receive\
            \ a definite sum of money at a future date(s) within one year of the balance\
            \ sheet date or the normal operating cycle, whichever is longer.</p>"
          type: number
        other_current_receivables:
          description: "<p>{{OtherCurrentReceivables}} is other current receivables\
            \ of that not otherwise classified. GuruFocus uses a standardized financial\
            \ statement format for all companies. GuruFocus lists {{Accts_Rec}}, {{NotesReceivable}},\
            \ {{LoansReceivable}} and {{OtherCurrentReceivables}} under the \"{{TotalReceivables}}\"\
            \ section.</p>"
          type: number
        other_equity:
          description: "<p>{{OtherEquity}} is instruments issued by the company that\
            \ cannot be identified by other specific items in the Equity section.\
            \ GuruFocus lists following items in \"{{Total_Equity}}\" section: {{CommonStock}},\
            \ {{Preferred_Stock}}, {{Retained_Earnings}}, {{accumulated_other_comprehensive_income}},\
            \ {{AdditionalPaidInCapital}}, {{Treasury_Stock}}, {{OtherEquity}}.</p>"
          type: number
        preferred_stock:
          description: "<p>{{Preferred_Stock}} is a special equity security that has\
            \ properties of both equity and debt. It is generally considered a hybrid\
            \ instrument. {{Preferred_Stock}} is senior to {{CommonStock}}, but is\
            \ subordinate to bonds in terms of claim or rights to their share of the\
            \ assets of the company. {{Preferred_Stock}} has priority over {{CommonStock}}\
            \ in the payment of dividends and any payments received when a company\
            \ liquidates. <br>{{Preferred_Stock}} comes in many forms. It can be:\
            \ Convertible or Non-Convertible, Cumulative or Non-Cumulative, Voting\
            \ or Non-Voting, Callable or Non-Callable, Maturity Date or No Maturity\
            \ Date. <br>A {{Preferred_Stock}} without a maturity date is called a\
            \ perpetual preferred stock. These are relatively rare. A good example\
            \ of perpetual {{Preferred_Stock}} is the many series of Public Storage\
            \ (PSA) preferred shares that trade on the New York Stock Exchange. <br>Before\
            \ investing in preferred stock, it is important to know which of the above\
            \ groups the stock belongs to. Is it convertible or non-convertible? Are\
            \ dividends cumulative or non-cumulative? It is also critical that an\
            \ investor knows what bonds the company has in front of the {{Preferred_Stock}}.\
            \ Bondholders get paid first. So the decision to buy a {{Preferred_Stock}}\
            \ can be similar to the decision to buy a bond. But, remember, the {{Preferred_Stock}}\
            \ of a company with bonds is junior to those bonds.  <br>Unless a {{Preferred_Stock}}\
            \ is convertible, the upside in a preferred stock investment is more limited\
            \ than in a {{CommonStock}} investment. If a company doubles its earnings,\
            \ it is usually under no more obligation to double the dividends paid\
            \ to preferred shareholders than it is to double the interest paid to\
            \ its bankers and bondholders.So {{Preferred_Stock}} is very different\
            \ from {{CommonStock}}.</p>"
          type: number
        retained_earnings:
          description: "<p>{{Retained_Earnings}} is the accumulated portion of {{Net_Income}}\
            \ that is not distributed to shareholders. Because the {{Net_Income}}\
            \ was not distributed to shareholders, shareholders' equity is increased\
            \ by the same amount. Of course, if a company loses, it is called retained\
            \ losses, or accumulated losses. Historically profitable companies sometimes\
            \ have negative {{Retained_Earnings}}. This is because they have cumulatively\
            \ paid out more to shareholders than they reported in profits. If a company\
            \ has negative {{Retained_Earnings}}, investors should check the 10-year\
            \ financial results. They should not assume that negative {{Retained_Earnings}}\
            \ prove a company has generally lost money in the past. Of course, many\
            \ companies with negative {{Retained_Earnings}} have indeed lost money\
            \ in the past.</p>"
          type: number
        short_term_debt_and_capital_lease_obligation:
          description: "<p>{{Short-Term_Debt}} is the portion of a company's debt\
            \ and capital lease obligation that need to be paid within the next 12\
            \ months. It equals {{ShortTermDebt_without_lease}} plus {{ShortTermCapitalLeaseObligation}}.\
            \ This gives investors an idea of how much money the company needs to\
            \ pay down for the principle of its debt.</p>"
          type: number
        total_assets:
          description: "<p>{{Total_Assets}} are all the assets a company owns. From\
            \ the capital sources of the assets, some of the assets are funded through\
            \ shareholder's paid in capital and {{Retained_Earnings}} of the business.\
            \ Others are funded through borrowed money. <br>Therefore, total assets\
            \ can be calculated as: {{Total_Assets}} = {{Total_Current_Assets}} +\
            \ {{TotalNonCurrentAssets}} = Total Shareholder's Equity + {{Total_Liabilities}}\
            \ <br>Total Assets is connected with Return on Assets by {{ROA}} = {{Net_Income}}\
            \ / {{Total_Assets}} <br> Total Assets is linked to {{Revenue}} through\
            \ {{turnover}}: {{turnover}}  = {{Revenue}} / {{Total_Assets}} <br>Therefore,\
            \ if a company grows its {{Total_Assets}} faster than its {{Revenue}},\
            \ the {{turnover}} will decline. This might be a warning sign for the\
            \ business.</p>"
          type: number
        total_equity:
          description: "<p>{{TotalEquityGrossMinorityInterest}} is residual interest,\
            \ including minority interest, that remains in the assets of the enterprise\
            \ after deducting its liabilities. Equity is increased by owners’ investments\
            \ and by comprehensive income, and it is reduced by distributions to the\
            \ owners.</p>"
          type: number
        total_liabilities:
          description: "<p>{{Total_Liabilities}} = {{Total_Current_Liabilities}} +\
            \ {{TotalNonCurrentLiabilitiesNetMinorityInterest}} = {{Total_Current_Liabilities}}\
            \ + {{Long-Term_Debt}} + {{ther_Long-Term_Liab}} <br>{{Total_Liabilities}}\
            \ = {{Total_Assets}} - {{TotalEquityGrossMinorityInterest}} <br>{{Total_Liabilities}}\
            \ are the liabilities that the company has to pay others. It is a part\
            \ of the balance sheet of a company that shareholders do not own, and\
            \ would be obligated to pay back if the company liquidated.</p>"
          type: number
        total_receivables:
          description: "<p>{{TotalReceivables}} is the sum of all receivables owed\
            \ by customers and affiliates within one year, including {{Accts_Rec}},\
            \ {{NotesReceivable}}, {{LoansReceivable}},{{OtherCurrentReceivables}}.</p>"
          type: number
        total_stockholders_equity:
          description: |-
            <p>{{Total_Equity}} refers to the net assets owned by shareholders. <br>{{Total_Equity}} = {{Preferred_Stock}} + {{CommonStock}} + Capital Surplus + {{Retained_Earnings}} <br>{{Total_Equity}} and {{Total_Liabilities}} are the two components for {{Total_Assets}}: <br>Total Assets = Total Shareholder's Equity + {{Total_Liabilities}}
             = {{Total_Current_Assets}} + {{TotalNonCurrentAssets}} <br>{{Total_Equity}} is used to calculate {{Book_Value_Per_Share}}: {{Book_Value_Per_Share}} = ({{Total_Equity}} - {{Preferred_Stock}})/ {{BS_share}}. <br>The ratio of a company's debt over equity can be used to measure how leveraged this company is: {{deb2equity}} = ({{Long-Term_Debt}} + {{Short-Term_Debt}})/{{Total_Equity}}.</p>
          type: number
        treasury_stock:
          description: "<p>{{Treasury_Stock}} is the portion of shares that a company\
            \ keeps in their own treasury. {{Treasury_Stock}} may have come from a\
            \ repurchase or buyback from shareholders; or it may have never been issued\
            \ to the public in the first place. These shares don't pay dividends,\
            \ have no voting rights, and should not be included in shares outstanding\
            \ calculations.</p>"
          type: number
      type: object
    fundamentals_I_REIT_NO_DIRECT_basic_information:
      properties:
        company:
          description: The name of the company as identified on its SEC filings.
          type: string
        company_id:
          type: string
        exchange:
          description: "The company's stock exchange. Example: NAS for Apple."
          type: string
        stockid:
          description: A unique identifier for the stock
          type: string
        symbol:
          description: The company's stock ticker symbol
          type: string
      type: object
    fundamentals_I_REIT_NO_DIRECT_cashflow_statement:
      properties:
        asset_impairment_charge:
          type: number
        beginning_cash_position:
          type: number
        cash_flow_capital_expenditure:
          description: "<p>{{Cash_Flow_CPEX}} refers to the funds spent for a company\
            \ to acquire or upgrade physical assets such as property, industrial buildings\
            \ or equipment.</p>"
          type: number
        cash_flow_deferred_tax:
          description: "<p>{{CF_DeferredTax}} represents future tax liability or asset,\
            \ resulting from temporary differences between book (accounting) value\
            \ of assets and liabilities, and their tax value. This arises due to differences\
            \ between financial accounting for shareholders and tax accounting.</p>"
          type: number
        cash_flow_depreciation_depletion_amortization:
          description: "<p>{{DDA}} is a present expense that accounts for the past\
            \ cost of an asset that is now providing benefits. Depletion and amortization\
            \ are synonyms for depreciation. Generally: The term depreciation is used\
            \ when discussing man made tangible assets. The term depletion is used\
            \ when discussing natural tangible assets. The term amortization is used\
            \ when discussing intangible assets</p>"
          type: number
        cash_flow_for_lease_financing:
          description: https://www.gurufocus.com/glossary/cash_flow_for_lease_financing
          type: number
        cash_flow_from_investing:
          description: "<p>{{Cash_Flow_from_Investing}} covers the cash a company\
            \ gains or spends from investment activities in financial market and operating\
            \ subsidiaries. It also includes the cash the company used for {{Net_PPE}}(PPE).\
            \ If a company spends cash on {{Net_PPE}} (PPE), this will reduce their\
            \ cash position. This is called {{Cash_Flow_CPEX}} (CPEX). Likewise, if\
            \ a company buys another company for cash, this will reduce their cash\
            \ position. <br>{{Cash_Flow_from_Investing}} is calculated as {{Cash_Flow_from_Investing}}\
            \ = {{PurchaseOfPPE}} + {{SaleOfPPE}} + {{PurchaseOfBusiness}} + {{SaleOfBusiness}}\
            \ + {{PurchaseOfInvestment}} + {{SaleOfInvestment}} + {{NetIntangiblesPurchaseAndSale}}\
            \ + {{CashFromDiscontinuedInvestingActivities}} + {{CashFromOtherInvestingActivities}}</p>"
          type: number
        cash_flow_from_operations:
          description: "<p>{{Cash_Flow_from_Operations}} refers to the cash brought\
            \ in through a company's sales. <br>Therefore, {{Cash_Flow_from_Operations}}\
            \ = {{NetIncomeFromContinuingOperations}} + {{CF_DDA}} + {ChangeInWorkingCapital}}\
            \ + Deferred Tax + {{Cash_Flow_from_Disc_Op}} + {{AssetImpairmentCharge}}\
            \ + {{StockBasedCompensation}} + {{Cash_Flow_from_Others}}</p>"
          type: number
        cash_flow_from_others:
          description: "<p>{{Cash_Flow_from_Others}} may include {{ChangeInWorkingCapital}}.\
            \ These are cash differences caused by the {{ChangeInInventory}}, {{AccountsPayable}},\
            \ {{Accts_Rec}} etc. For instance, if a company pays its suppliers slower,\
            \ its cash position will build up faster. If a company receives payments\
            \ from its customers slower, its {{Accts_Rec}} will rise, and its cash\
            \ position will grow more slowly (or even shrink).</p>"
          type: number
        cash_from_discontinued_investing_activities:
          description: "<p>{{CashFromDiscontinuedInvestingActivities}} means the cash\
            \ received by a company that comes from the discontinued investing activities.</p>"
          type: number
        cash_from_discontinued_operating_activities:
          description: The cash generated from discontinued operations
          type: number
        cash_from_financing:
          description: "<p>{{Cash_from_Financing}} is the cash generated/spent from\
            \ financial activities such as share issuance (buy back), debt issuance\
            \ (repayment), and dividends paid to preferred and common stockholders.\
            \ In the calculation of {{total_freecashflow}}, {{Cash_from_Financing}}\
            \ is not calculated because it is not related to operating activities.\
            \ <br>{{Cash_from_Financing}} = {{Issuance_of_Stock}} + {{Repurchase_of_Stock}}\
            \ + {{Net_Issuance_of_Debt}} + {{Net_Issuance_of_preferred}} + {{Dividends}}\
            \ + Other Financing</p>"
          type: number
        cash_from_other_investing_activities:
          description: "<p>{{CashFromOtherInvestingActivities}} means the cash received\
            \ by a company that comes from other investing activities.</p>"
          type: number
        change_in_inventory:
[...]
